body {
    background: #1d1d1b;
    color: antiquewhite;
    font-family: Open Sans, sans-serif;
}

h1 {
    text-align: center;
    margin: -4px 0;
}

p {
    margin: 0;
}

.label  {
    border: 2px solid white;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
}

.divider {
    border-bottom: 1px solid white;
    margin: 2px 0;
}

.bold {
    font-weight: 800;
}