body {
    background: #1d1d1b;
    color: antiquewhite;
    font-family: Open Sans, sans-serif;
}

.label  {
    border: 2px solid white;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
}